<div class="creator-container">
  <div class="card text-center menu-container card-display">
    <div class="card-header"></div>
    <div class="card-body">
      <button class="action-menu-button button-behaviour top-margin" routerLink="/">Start
      </button>
      <button class="action-menu-button button-behaviour top-margin" routerLink="/creator/show-questions">Kreator
      </button>
      <button class="action-menu-button button-behaviour top-margin" routerLink="/activity">Przeglądaj Aktywność
      </button>
      <button class="action-menu-button button-behaviour top-margin" (click)="generateReport()">
        <span *ngIf="pendingReport" aria-hidden="true" class="spinner-border spinner-border-sm"
              role="status"></span>
        Wygeneruj Raport
      </button>
      <button *ngIf="isAdmin" class="action-menu-button button-behaviour top-margin" routerLink="/admin/publicity">
        Upublicznienia
      </button>
      <button *ngIf="isAdmin" class="action-menu-button button-behaviour top-margin" routerLink="/admin/users">
        Zarządzanie
      </button>
      <button (click)="logout()" class="action-menu-button logout-button top-margin bottom-margin">Wyloguj Się</button>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <div class="card text-center profile-container card-display">
    <div class="card-header"></div>
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7">
          <div class="card p-3 py-4">
            <div class="text-center"><img alt="" class="rounded-circle" [src]="avatarUrl" width="100"></div>
            <div class="text-center mt-3"><span
              class="bg-secondary p-1 px-4 rounded text-white">{{account.lastName}} {{account.firstName}}</span>
              <div class="px-4 mt-1">
                <p>Adres email: {{account.email}}</p>
                <p>Login: {{account.login}}</p>
                <p>Dołączyłeś: {{account.creationDate | date : 'short'}}</p>
              </div>
              <div class="buttons">
                <button class="btn btn-outline-primary px-4 top-margin">Ustawienia</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>
