hr.dotted {
  border-top: 2px dotted #999;
}

.action-menu-button {
  width: 20%;
}

.spinner-container {
  min-height: 200px;
}

.sending {
  font-size: 2rem;
  margin-bottom: 2%;
}

.action-menu-button {
  margin-top: 3%;
}
