<div *ngIf="!sendingAnswers && !result">
  <ng-container *ngFor="let question of form?.questions; index as i">
    <hr *ngIf="i > 0" class="dotted">
    <ng-container *ngIf="question.type === 'SINGLE_CHOICE'">
      <mr-app-pages-answer-form-single-choice
        (singleChoiceChanged)="singleChoiceChanged($event)"
        [singleChoice]="question"></mr-app-pages-answer-form-single-choice>
    </ng-container>
    <ng-container>

    </ng-container>
    <ng-container>

    </ng-container>
    <ng-container>

    </ng-container>
  </ng-container>
  <button (click)="send()" *ngIf="!isPreview" class="action-menu-button button-behaviour" type=submit>Wyślij</button>
</div>
<div *ngIf="sendingAnswers && !result">
  <div class="spinner-container">
    <mr-app-common-big-spinner></mr-app-common-big-spinner>
  </div>
  <div class="sending">
    Wysyłanie...
  </div>
</div>
<div *ngIf="result">
  <mr-app-pages-answer-score [score]="result"></mr-app-pages-answer-score>
  <button (click)="return()" class="action-menu-button button-behaviour">Powrót</button>
</div>

