<div *ngIf="!sendingAnswers && !result">
  <ng-container *ngFor="let question of form?.questions; index as i">
    <hr class="dotted" *ngIf="i > 0">
    <ng-container *ngIf="question.type === 'SINGLE_CHOICE'">
      <mr-app-pages-answer-form-single-choice
        [singleChoice]="question"
        (singleChoiceChanged)="singleChoiceChanged($event)"></mr-app-pages-answer-form-single-choice>
    </ng-container>
    <ng-container>

    </ng-container>
    <ng-container>

    </ng-container>
    <ng-container>

    </ng-container>
  </ng-container>
  <button *ngIf="!isPreview" type=submit class="action-menu-button button-behaviour" (click)="send()">Wyślij</button>
</div>
<div *ngIf="sendingAnswers && !result">
  <div class="spinner-container">
    <mr-app-common-big-spinner></mr-app-common-big-spinner>
  </div>
  <div class="sending">
    Wysyłanie...
  </div>
</div>
<div *ngIf="result">
  <mr-app-pages-answer-score [score]="result"></mr-app-pages-answer-score>
  <button class="action-menu-button button-behaviour" (click)="return()">Powrót</button>
</div>

