.table-positioning {
  width: 90%;
  min-height: 70%;
  margin-left: 5%;
  margin-top: 2%;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.paginator-container {
  margin-left: 5%;
  width: 95%;
}
