.table-positioning {
  width: 100%;
  min-height: 60%;
}

/*.mat-row:hover .mat-cell {
  background-color: #04AA6D;
  color: white;
}*/

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
