<div>
  <div class="card text-center menu-container card-display">
    <div class="card-header"></div>
    <div class="card-body">
      <mat-form-field appearance="outline">
        <mat-label>Filtruj</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <table mat-table [dataSource]="students" matSort (matSortChange)="sortChange($event)" class="mat-elevation-z8 full-width table-positioning">
        <ng-container matColumnDef="index">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Nr</th>
          <td mat-cell *matCellDef="let student">{{student.index}}</td>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Imię</th>
          <td mat-cell *matCellDef="let student">{{student.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Nazwisko</th>
          <td mat-cell *matCellDef="let student">{{student.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="className">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Klasa</th>
          <td mat-cell *matCellDef="let student">{{student.className}}</td>
        </ng-container>
        <ng-container matColumnDef="login">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Login</th>
          <td mat-cell *matCellDef="let student">{{student.login}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let student">{{student.email}}</td>
        </ng-container>
        <ng-container matColumnDef="creationDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Data utworz.</th>
          <td mat-cell *matCellDef="let student">{{student.creationDate | date: 'short'}}</td>
        </ng-container>
        <ng-container matColumnDef="isCreatorAllowed">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Kreator</th>
          <td mat-cell *matCellDef="let student">{{student.isCreatorAllowed}}</td>
        </ng-container>
        <ng-container matColumnDef="isTemporaryPasswordActive">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Hasło Jednorazowe</th>
          <td mat-cell *matCellDef="let student">{{student.isTemporaryPasswordActive}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row (click)="selectStudent(row)" *matRowDef="let row; columns: columns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[6, 8, 10]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <div class="card-footer text-muted">
      Kliknij w wiersz, aby podejrzeć szczegóły.
    </div>
  </div>
</div>
