<div class="full-width" mat-dialog-title>
  <span class="title-header"> Uzupełnij swoje pytanie: </span>
  <span class="title-header secondary-title"> Poprawna odpowiedź: </span>
</div>
<div>
  <form
    (ngSubmit)="singleChoiceFormGroup.markAllAsTouched(); onSubmit()"
    [formGroup]="singleChoiceFormGroup"
  >
    <mat-radio-group>
      <div formArrayName="singleChoiceValues">
        <div
          *ngFor="let content of singleChoiceValues.controls; index as i"
          class="container"
        >
          <div class="row">
            <div [formGroupName]="i" class="col-sm">
              <mat-form-field appearance="outline">
                <mat-label>Treść pytania</mat-label>
                <input formControlName="value" matInput type="text"/>
                <mat-error>Pole wymagane!</mat-error>
              </mat-form-field>
              <span>
                <span
                  (click)="addSingleChoice()"
                  *ngIf="i === singleChoiceValues.controls.length - 1"
                  class="add-option-icon"
                ><mat-icon>add_circle</mat-icon></span
                >
                <span
                  (click)="removeSingleChoice(i)"
                  *ngIf="singleChoiceValues.controls.length > 1"
                  class="delete-option-icon"
                ><mat-icon>delete_forever</mat-icon></span
                >
              </span>
            </div>
            <div class="col-sm radio-correct">
              <mat-radio-button
                (change)="changeCorrectValue($event)"
                [value]="i"
              ></mat-radio-button>
            </div>
          </div>
        </div>
      </div>
    </mat-radio-group>
  </form>
  <div mat-dialog-actions>
    <button
      (click)="onNoClick()"
      class="btn btn-danger"
      mat-button
      mat-raised-button
    >
      Anuluj
    </button>
    <button
      (click)="onSubmit()"
      cdkFocusInitial
      class="btn btn-success"
      mat-button
      mat-raised-button
      type="submit"
    >
      Utwórz
    </button>
  </div>
</div>
