<div class="card text-center menu-container card-display">
  <div class="card-header"></div>
  <div class="card-body">
    <button class="action-menu-button button-behaviour top-margin" routerLink="/creator/new-question">Nowe Pytanie
    </button>
    <button class="action-menu-button button-behaviour top-margin" routerLink="/creator/new-form">Nowy Arkusz</button>
    <button class="action-menu-button button-behaviour top-margin" routerLink="/creator/show-questions">Twoje Pytania
    </button>
    <button class="action-menu-button button-behaviour top-margin" routerLink="/creator/show-forms">Twoje Arkusze
    </button>
    <button (click)="return()" class="action-menu-button button-behaviour top-margin">Wróć</button>
    <button class="action-menu-button button-behaviour top-margin" routerLink="/">Start</button>
    <button (click)="logout()" class="action-menu-button logout-button top-margin bottom-margin">Wyloguj Się</button>
  </div>
  <div class="card-footer text-muted"></div>
</div>
