<div class="navbar-width">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <img src="assets/logo.png" alt="Kreator nowych arkuszy!" width="250" height="150">
    <div class="list-group list-group-flush align-items-center">
      <button type="button" routerLink="/creator/new-question" class="btn btn-light bottom-margin full-width navbar-font">Nowe pytanie</button>
      <button type="button" routerLink="/creator/new-form" class="btn btn-light bottom-margin full-width navbar-font">Nowy arkusz</button>
      <button type="button" routerLink="/creator/show-questions" class="btn btn-light bottom-margin full-width navbar-font">Przeglądaj pytania</button>
      <button type="button" routerLink="/creator/show-forms" class="btn btn-light bottom-margin full-width navbar-font">Przeglądaj arkusze</button>
      <button type="button" (click)="logout()" class="btn btn-light bottom-margin full-width navbar-font">Wyloguj się!</button>
    </div>
  </div>
</div>
