<div class="navbar-width" *ngIf="!toggled">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <img src="assets/logo.png" alt="Kreator nowych arkuszy!" width="250" height="150">
      <div class="list-group list-group-flush align-items-center">
        <button type="button" routerLink="/creator/new-question" class="btn btn-light bottom-margin full-width navbar-font">Nowe pytanie</button>
        <button type="button" routerLink="/creator/new-form" class="btn btn-light bottom-margin full-width navbar-font">Nowy arkusz</button>
        <button type="button" routerLink="/creator/show-questions" class="btn btn-light bottom-margin full-width navbar-font">Przeglądaj pytania</button>
        <button type="button" routerLink="/creator/show-forms" class="btn btn-light bottom-margin full-width navbar-font">Przeglądaj arkusze</button>
      </div>
      <div class="collapse-arrow" (click)="toggle()" *ngIf="isRedirected()">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </div>
  </div>
</div>
<div class="small-border" *ngIf="toggled" (click)="toggle()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
  </svg>
</div>

