<div class="card text-center menu-container card-display">
  <div class="card-header"></div>
  <div class="card-body">
      <div class="container" *ngIf="!pending">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-box clearfix">
              <div class="table-responsive">
                <table class="table user-list">
                  <thead>
                  <tr>
                    <th><span>Twórca</span></th>
                    <th><span>Nazwa arkusza</span></th>
                    <th><span>Data utworzenia</span></th>
                    <th class="text-center"><span>Ilość pytań</span></th>
                    <th><span>Trudność</span></th>
                    <th><span>Rozwiązało</span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let form of forms">
                    <tr class="answer-list-hover" (click)="answer(form.id)">
                      <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <div class="user-link">{{form.firstName}} {{form.lastName}}
                        </div>
                        <span class="user-subhead" *ngIf="form.email">
                          {{form.email}}
                          <span *ngIf="form.login">
                            | {{form.login}}
                          </span>
                        </span>
                      </td>
                      <td>{{form.name}}</td>
                      <td>{{ form.creationDate | date: 'short' }}</td>
                      <td class="text-center"><span class="label label-default">{{ form.questions }}</span></td>
                      <td>{{ form.difficulty }}</td>
                      <td style="width: 20%;"><a href="#" class="table-link"></a>{{form.answers}}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
             <div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div *ngIf="pending">
      <div class="spinner-container">
        <mr-app-common-big-spinner></mr-app-common-big-spinner>
      </div>
    </div>
    <div class="card-footer" *ngIf="!pending">Kliknij w wybrany wiersz, aby rozwiązać test.</div>
  </div>
</div>
