.card {
  width: 90%;
}

.header {
  background: white;
  color: black;
}

.table-positioning {
  width: 100%;
}

.mat-row:hover .mat-cell {
  background-color: #04AA6D;
  color: white;
}

.icon-action {
  cursor: pointer;

  &:hover {
    color: black;
  }
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.button-container {
  margin-left: 8%;
  float: right;
}

.action-menu-button {
  width: 200px;
}
