.title-header {
  font-size: 1.3rem;
}

.secondary-title {
  margin-left: 15%;
}

.item-name {
  width: 50%;
  margin-right: 4%;
}

.item-cost {
  width: 10%;
}

.warning {
  color: orange;
}

.add-option-icon {
  color: green;
  margin-left: 2%;
  margin-right: 1%;
  cursor: pointer;
}

.delete-option-icon {
  color: red;
  margin-left: 2%;
  cursor: pointer;
}
