<div class="login-page-card">
  <mat-card class="login-card">
    <span>
      <mat-card-title class="login-card-title">
      <img src="assets/logo.png" alt="Szkatułkowy Ambaras!">
    </mat-card-title>
    </span>
    <span>
       <mat-card-content class="form-container">
      <div class="login-card-form">
        <form>
          <div>
            <mat-form-field class="login-card-form-field" appearance="outline">
              <mat-label>Email/Login</mat-label>
              <input matInput [formControl]="loginFormControl" [errorStateMatcher]="matcher" [placeholder]="'Wpisz adres e-mail lub login!'">
              <mat-error *ngIf="loginFormControl.hasError('required')">
                Podaj adres email lub login!
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="login-card-form-field" appearance="outline">
              <mat-label>Hasło</mat-label>
              <input type="password" matInput [formControl]="loginFormControl" [errorStateMatcher]="matcher" [placeholder]="'Podaj swoje hasło!'">
              <mat-error *ngIf="loginFormControl.hasError('required')">
                Podaj swoje hasło!
              </mat-error>
            </mat-form-field>
          </div>
          <span class="button-container">
            <button class="login-button-confirm log-in" type="submit">Zaloguj się!</button>
            <button routerLink="/register" class="login-button-confirm sign-up" type="submit">Zarejestruj się!</button>
          </span>
        </form>
      </div>
    </mat-card-content>
    </span>
  </mat-card>
</div>
