<div class="login-page-card">
  <mat-card class="login-card card-background">
    <span>
      <mat-card-title class="login-card-title">
        <a href="#"><img alt="Szkatułkowy Ambaras!" src="assets/logo.png"></a>
      </mat-card-title>
    </span>
    <span>
      <mat-card-content class="form-container">
        <div class="login-card-form">
          <form (ngSubmit)="loginFormGroup.markAllAsTouched(); onSubmit()" [formGroup]="loginFormGroup">
            <div>
              <mat-form-field appearance="outline" class="login-card-form-field">
                <mat-label>Email/Login</mat-label>
                <input [placeholder]="'Wpisz adres e-mail lub login!'" formControlName="login" matInput name="login"/>
                <mat-error>Podaj adres email lub login!</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="login-card-form-field">
                <mat-label>Hasło</mat-label>
                <input [placeholder]="'Podaj swoje hasło!'" formControlName="password" matInput type="password"/>
                <mat-error>Podaj swoje hasło!</mat-error>
              </mat-form-field>
            </div>
            <span class="button-container">
              <button [class.invalid-button-background-color]="loginFormGroup.invalid"
                      [disabled]="loginFormGroup.invalid"
                      class="login-button-confirm log-in" type="submit">
                <span *ngIf="pendingLogin" aria-hidden="true" class="spinner-border spinner-border-sm"
                      role="status"></span>
                Zaloguj się!</button>
              <button class="login-button-confirm sign-up" routerLink="/register"
                      type="submit">Zarejestruj się!</button>
            </span>
          </form>
        </div>
      </mat-card-content>
    </span>
  </mat-card>
</div>
