<div class="login-page-card">
  <mat-card class="login-card">
    <span>
      <mat-card-title class="login-card-title">
        <img alt="Szkatułkowy Ambaras!" src="assets/logo.png"/>
      </mat-card-title>
    </span>
    <span>
      <mat-card-content class="form-container">
        <div class="login-card-form">
          <form (ngSubmit)="registerAccountFormGroup.markAllAsTouched(); onSubmit()"
                [formGroup]="registerAccountFormGroup">
            <span>
              <mat-form-field
                appearance="outline"
                class="login-card-form-field width-form">
                <mat-label>Imię</mat-label>
                <input
                  [placeholder]="'Podaj swoje imię'"
                  formControlName="firstName"
                  matInput
                  name="firstName"
                />
                <mat-error>Pole wymagane!</mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="login-card-form-field width-form"
              >
                <mat-label>Nazwisko</mat-label>
                <input
                  [placeholder]="'Podaj nazwisko'"
                  formControlName="lastName"
                  matInput
                  name="lastName"
                />
                <mat-error>Pole wymagane!</mat-error>
              </mat-form-field>
            </span>
            <span>
              <mat-form-field
                appearance="outline"
                class="login-card-form-field width-form"
              >
                <mat-label>Email</mat-label>
                <input
                  [placeholder]="'Podaj email'"
                  formControlName="email"
                  matInput
                  name="email"
                  type="email"
                />
                <mat-error>Pole wymagane!</mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="login-card-form-field width-form"
              >
                <mat-label>Login</mat-label>
                <input
                  [placeholder]="'Podaj login'"
                  formControlName="login"
                  matInput
                  name="login"
                />
                <mat-error>Pole wymagane!</mat-error>
              </mat-form-field>
            </span>
            <span>
              <mat-form-field
                appearance="outline"
                class="login-card-form-field width-form"
              >
                <mat-label>Hasło</mat-label>
                <input
                  [placeholder]="'Podaj swoje hasło'"
                  formControlName="password"
                  matInput
                  name="password"
                  type="password"
                />
                <mat-error>Podaj swoje hasło!</mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                class="login-card-form-field width-form"
              >
                <mat-label>Powtórz hasło</mat-label>
                <input
                  [placeholder]="'Powtórz hasło'"
                  matInput
                  type="password"
                />
                <mat-error>Podaj swoje hasło!</mat-error>
              </mat-form-field>
            </span>
            <span
              (click)="registerAccountFormGroup.markAllAsTouched()"
              class="button-container"
            >
              <button
                [class.invalid-button-background-color]="
                  registerAccountFormGroup.invalid
                "
                [disabled]="registerAccountFormGroup.invalid"
                class="login-button-confirm sign-up"
                type="submit"
              >
                Zarejestruj się!
              </button>
            </span>
          </form>
        </div>
      </mat-card-content>
    </span>
  </mat-card>
</div>
