<div>
  <div class="card text-center menu-container card-display">
    <div class="card-header"></div>
    <div class="card-body">
      <mat-tab-group>
        <mat-tab aria-label label="Jednokrotny Wybór">
          <mr-app-show-single-choice-component [select]="false"></mr-app-show-single-choice-component>
        </mat-tab>
        <mat-tab aria-label label="Wielokrotny Wybór">
          <mr-app-show-multiple-choice-component [select]="false"></mr-app-show-multiple-choice-component>
        </mat-tab>
        <mat-tab aria-label label="Lista Uporządkowana">
          <mr-app-show-ordered-list-component [select]="false"></mr-app-show-ordered-list-component>
        </mat-tab>
        <mat-tab aria-label label="Przeciąganie Elementów">
          <mr-app-show-drag-and-drop-component [select]="false"></mr-app-show-drag-and-drop-component>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
