<div>
  <div class="card text-center menu-container card-display">
    <div class="card-header">Uzupełnij dane, następnie zatwierdź.</div>
    <div class="card-body">
      <form [formGroup]="newStudentFormGroup" (ngSubmit)="newStudentFormGroup.markAllAsTouched(); onSubmit()">
        <div>
          <span>
            <mat-form-field class="login-card-form-field width-form right-margin" appearance="outline">
              <mat-label>Imię</mat-label>
              <input name="firstName" matInput formControlName="firstName" [placeholder]="'* Wymagane'"/>
              <mat-error>Pole wymagane!</mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="login-card-form-field width-form" appearance="outline">
              <mat-label>Nazwisko</mat-label>
              <input name="firstName" matInput formControlName="lastName" [placeholder]="'* Wymagane'"/>
              <mat-error>Pole wymagane!</mat-error>
            </mat-form-field>
          </span>
        </div>
        <div>
          <span>
            <mat-form-field class="login-card-form-field width-form right-margin" appearance="outline">
              <mat-label>Login</mat-label>
              <input name="firstName" matInput formControlName="login" [placeholder]="'* Wymagane'"/>
              <mat-error>Pole wymagane!</mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field class="login-card-form-field width-form" appearance="outline">
              <mat-label>Email</mat-label>
              <input name="firstName" matInput formControlName="email" [placeholder]="'* Opcjonalne'"/>
            </mat-form-field>
          </span>
        </div>
        <div>
          <mat-checkbox (change)="changeCheckbox($event)">Zezwól na dostęp do kreatora.</mat-checkbox>
        </div>
        <div *ngIf="temporaryPassword.length">
          Wygenerowane hasło: {{temporaryPassword}}
        </div>
        <div>
          <mat-form-field appearance="fill" (click)="getClasses()">
            <mat-label>Wybierz klasę</mat-label>
            <mat-select formControlName="className" >
              <ng-container *ngIf="teacherClassNames.length; else noClasses">
                <ng-container *ngFor="let className of teacherClassNames">
                  <mat-option>{{className}}</mat-option>
                </ng-container>
              </ng-container>
              <ng-template #noClasses>
                <mat-option>Nie znaleziono żadnej klasy.</mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>
        </div>
        <button class="action-menu-button button-behaviour top-margin"
                [class.invalid-button-background-color]="newStudentFormGroup.invalid"
                [disabled]="newStudentFormGroup.invalid" type="submit">Zatwierdź</button>
      </form>
    </div>
    <div class="card-footer text-muted">
      <div> * Uczeń zostanie utworzony wraz z wygenerowanym, jednorazowym, losowym hasłem.</div>
      <div>   Przy pierwszej próbie logowania, uczeń będzie musiał zmienić hasło.</div>
      <div>   Do momentu kiedy uczeń nie zmieni hasła, będzie ono widoczne w szczegółach na liście uczniów.</div>
    </div>
  </div>
</div>
