<div class="results-container">
  <div>
      <div class="score-header">
        Pytań w sumie:
      </div>
      <div class="score-info">
        {{score.allQuestions}}
      </div>
  </div>
  <div>
    <div class="score-header">
      Poprawnych odpowiedzi:
    </div>
    <div class="score-info">
      {{score.correctAnswers}}
    </div>
  </div>
  <div>
    <div class="score-header">
      Niepoprawnych odpowiedzi:
    </div>
    <div class="score-info">
      {{score.wrongAnswers}}
    </div>
  </div>
  <div>
    <div class="score-header">
      Wynik procentowy
    </div>
    <div class="score-info">
      {{score.percentage}}
    </div>
  </div>
</div>
