<div>
  <div class="card text-center menu-container card-display">
    <div class="card-header"></div>
    <div class="card-body">
      <button routerLink="/class/show-class" class="action-menu-button button-behaviour top-margin">Twoje Klasy</button>
      <button routerLink="/class/create-class" class="action-menu-button button-behaviour top-margin">Stwórz Klasę</button>
      <button routerLink="/class/students-show" class="action-menu-button button-behaviour top-margin">Twoi Uczniowie</button>
      <button routerLink="/class/students-add" class="action-menu-button button-behaviour top-margin">Dodaj Ucznia</button>
      <button (click)="return()" class="action-menu-button logout-button top-margin bottom-margin">Wróć</button>
      <button (click)="logout()" class="action-menu-button logout-button top-margin bottom-margin">Wyloguj Się</button>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>
<router-outlet></router-outlet>
