// Common
@import "src/app/common/navbar/app-common-navbar.component";

// Pages
@import "src/app/pages/app-pages.component";
@import "src/app/pages/home/app-pages-home.component";

@import "./scss-overrides/mat-form-filed.scss";
@import "./scss-overrides/card.scss";

body, html {
  height: 100%;
  background-image: url("assets/background.png");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
