// Common
@import "src/app/common/navbar/app-common-navbar.component";

// Pages
@import "src/app/pages/app-pages.component";
@import "src/app/pages/home/app-pages-home.component";

@import "./scss-overrides/mat-form-filed.scss";
@import "./scss-overrides/card.scss";

@media (-webkit-device-pixel-ratio: 1) {
  body, html {
    zoom: 1.1;
    -moz-transform: scale(1.1);
    -moz-transform-origin: 0 0;
  }
}

body, html {
  height: 100%;
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
