<ng-container><!-- *ngIf="pagedClasses.data.length; else noClasses-->
  <div>
    <div class="card text-center menu-container card-display">
      <div class="card-header"></div>
      <div class="card-body">
        <table mat-table [dataSource]="pagedClasses" class="mat-elevation-z8 full-width table-positioning">
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>Nr</th>
            <td mat-cell *matCellDef="let _class">{{_class.index}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nazwa</th>
            <td mat-cell *matCellDef="let _class">{{_class.name}}</td>
          </ng-container>
          <ng-container matColumnDef="students">
            <th mat-header-cell *matHeaderCellDef>Uczniów</th>
            <td mat-cell *matCellDef="let _class">{{_class.students}}</td>
          </ng-container>
          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>Data Utworz.</th>
            <td mat-cell *matCellDef="let _class">{{_class.creationDate | date: 'short' }}</td>
          </ng-container>
          <ng-container matColumnDef="modificationDate">
            <th mat-header-cell *matHeaderCellDef>Data Modyfi.</th>
            <td mat-cell *matCellDef="let _class">{{_class.modificationDate | date: 'short'}}</td>
          </ng-container>
          <ng-container matColumnDef="formsActive">
            <th mat-header-cell *matHeaderCellDef>Arkuszy Aktywnych</th>
            <td mat-cell *matCellDef="let _class">{{_class.formsActive}}</td>
          </ng-container>
          <ng-container matColumnDef="formsProcessed">
            <th mat-header-cell *matHeaderCellDef>Arkuszy Przetworzonych</th>
            <td mat-cell *matCellDef="let _class">{{_class.formsProcessed}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
<!--    <mat-paginator class="paginator"
                   [pageSize]="pageSize"
                   [length]="classes.data.length"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   (page)="changePage($event)"
                   aria-label="Wybierz">
    </mat-paginator>-->
  </div>
</ng-container>
<ng-template #noClasses>
  <mr-app-common-nothing-found></mr-app-common-nothing-found>
</ng-template>
